/*Whole Body Section Styles*/
body {
    font-family: 'Open Sans';
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}

/*Global Heading 1 and Heading 2 Styles*/
.h1-h2-titles {
    font-size: 3.75em;
    font-weight: 300;
}

/*Global Heading 3 Styles*/
.h3-titles {
    font-size: 2em;
    font-weight: 300;
}

/*Global Navigation Heading Styles*/
.nav-heading {
    font-size: 2em;
    font-weight: 300;
}

/*Global Navigation Links Styles*/
.nav-links {
    font-size: 1.3em;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #393939;
}

/*Global Paragraph Text Styles*/
.p-texts {
    font-size: 1.1em;
    color: #393939;
    display: block;
    margin: auto;
}

.shop-now a {
    color: #5BACC3;
}

/*Global Icon Images Styles*/
.icons {
    width: 3.5em;
}

/*Global Nitro Pink Sections Backgrounds Styles*/
.nitro-pink-backgrounds {
    background-color: #FFF0ED;
}