/*Footer Header Styles*/
.footer-header {
    font-size: 33px;
    font-weight: 300;
}

/*Button Styles*/
#button {
    font-size: 21px;
    background-color: #5BACC3;
    color: #FFF;
}

/*Product Images Styles*/
.products {
    height: 280px;
}

/*Discount Text Styles*/
#discount-text {
    margin-top: 0px;
    font-size: 45px;
}
#discount-banner {
    width: 90%;
    background-color: #393939;
    color: white;
    text-align: center;
    margin-top: 0px;
}

/*Product Price Styles*/
.menu-item-price {
    font-size: 18px;
    color: #5BACC3;
}

/*Bolded Text Styles*/
.bolded-text {
    font-weight: bold;
}