/*Header Styles*/
header {
    background-color: #FFF0ED;
    display: inline-block;
    width: 100%;
    height: 5rem;
    margin: auto;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/*Header Content Styles*/
.header-content__title {
    font-size: 3.75em;
    font-weight: 300;
    margin-bottom: 20px;
}

.section1-content {
    width: 30%;
    align-items: flex-start;
}

.section1-content-image {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

}

/*Product Title Styles*/
.h1-h2-titles {
    text-align: center;
}

.product-title {
    padding: 20px;
    background-color: #F7F7F7;
}

/*Product Description Styles*/
.p-texts {
    margin-bottom: 20px;
}

/*Button Styles*/
.header-content__button {
    width: 180px;
    font-size: 1.3em;
    background-color: #5BACC3;
    color: #FFF;
    padding: 20px;
}

/*View All Button Styles*/
.view-all-button {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    background-color: #F7F7F7;
}

/*Product Section Styles*/
.product-section__wrapper {
    display: flex;
    justify-content: center;
}

.products {
    height: 280px;
    margin: 20px;
}

.product-section {
    background-color: #F7F7F7;
}

.product-item {
    width: 330px;
    height: 440px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Product Price Styles*/
.product-section__productPrice {
    font-size: 1.1em;
    color: #5BACC3;
}

.h3-titles {
    margin: 20px;
}

.product-image {
    height: 100%;
}

/*Discount Text Styles*/
.discount-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#discount-wrapper__discountBanner {
    width: 90%;
    height: 25%;
    background-color: #393939;
    padding: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#discount-wrapper__discount-text {
    font-size: 3em;
    color: #FFF;
}

#discount-wrapper__bolded-text {
    font-weight: bold;
}

/*Footer Styles*/
.footer-section_footer-header {
    font-size: 2em;
    font-weight: 300;
    margin: 20px;
}

.footer-section__footer-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.footer-section__footer-card {
    margin: 20px;
    width: 250px;
}

#footer-section__bolded-text {
    font-weight: bold;
}

.footer-section_icons {
    width: 3.5em;
}