/*Footer Header Styles*/
.footer-header {
    font-size: 2em;
    font-weight: 300;
}

/*Button Styles*/
#button {
    font-size: 1.3em;
    background-color: #5BACC3;
    color: #FFF;
}

/*Product Images Styles*/
.products {
    height: 280px;
}

/*Discount Text Styles*/
#discount-text {
    margin-top: 0em;
    font-size: 3em;
}

#discount-banner {
    width: 90%;
    background-color: #393939;
    color: white;
    text-align: center;
    margin-top: 0em;
}

/*Product Price Styles*/
.menu-item-price {
    font-size: 1.1em;
    color: #5BACC3;
}

/*Bolded Text Styles*/
.bolded-text {
    font-weight: bold;
}