/*Menu Webpage Title Styles*/
#title-box {
    width: 32%;
    height: 200px; /*Need to change to relative units*/
    background-color: #393939;
}

/*Menu Webpage Title Background Image Styles*/
#background-image {
    width: 100%;
    height: 700px; /*Need to change to relative units*/
    background-image: url(../assets/coffee-circle.jpg);
    background-position: center;
    background-size: cover;
}

/*Sub-Navigation Styles*/
#sub-nav {
    width: 100%;
    background-color: #393939;
    color: #393939;
}

/*Menu Title Styles*/
.h1-h2-titles {
    color: #FFF;
    text-align: center;
}

/*Sub-Navigation Menu Styles*/
#sub-nav-menu {
    text-align: center;
}
/*Sub-Navigation Menu Links Styles*/
#sub-nav .nav-links a{
    color: #FFF;
    text-decoration: none;
}

/*Menu Headings Styles*/
.nitro-pink-backgrounds .h1-h2-titles, #light-gray-background .h1-h2-titles {
    color: #393939;
}

/*Menu Items Styles*/
.nitro-pink-backgrounds .h3-titles, #light-gray-background .h3-titles {
    text-align: center;
    color: #393939;
}

/*Cold Drinks Section Styles*/
#light-gray-background {
    background-color: #F7F7F7;
}

/*Menu Item Description Styles*/
.p-texts {
    font-style: italic;
    width: 35%;
}
.nitro-pink-backgrounds .p-texts, #light-gray-background .p-texts {
    text-align: center;
}

/*Menu Item Price Styles*/
.p-texts-price {
    font-size: 1em;
    color: #5BACC3;
    text-align: center;
}