@mixin main-font-style($weight, $margin, $padding) {
  font-weight: $weight;
  margin: $margin;
  padding: $padding;
}

@mixin header-style($display, $width, $height, $margin) {
  display: $display;
  width: $width;
  height: $height;
  margin: $margin;
}

@mixin main-logo-style($width, $vertical-align) {
  width: $width;
  vertical-align: $vertical-align;
}

@mixin h1-h2-titles-style($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin header3-styles($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin main-navigation-style($display, $margin) {
  display: $display;
  margin: $margin;
}

@mixin nav-heading-style($font-size, $font-weight, $display) {
  font-size: $font-size;
  font-weight: $font-weight;
  display: $display;
}

@mixin nav-links-style($font-size, $list-style, $display) {
  font-size: $font-size;
  list-style: $list-style;
  display: $display;
}

@mixin p-style($font-size, $display, $margin) {
  font-size: $font-size;
  display: $display;
  margin: $margin;
}

@mixin header-content($display, $align-items, $flex-wrap, $justify-content) {
  display: $display;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
}

@mixin button-style($width, $font-size, $padding) {
  width: $width;
  font-size: $font-size;
  padding: $padding;
}

@mixin button-surrounding-style($position, $width, $height, $left, $bottom) {
  position: $position;
  width: $width;
  height: $height;
  left: $left;
  bottom: $bottom;
}

@mixin productItem-style($width, $height, $margin, $border-radius) {
  width: $width;
  height: $height;
  margin: $margin;
  border-radius: $border-radius;
}

@mixin flexbox-styles($display, $flex-direction, $justify-content, $align-items) {
  display: $display;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}