/*
Project Name: Coffee Shop - Sprint 1
Name: Anurag Bhattacharya
Description: This is the Landing Page Style Sheet - All Styles are applied uniquely to the Landing Page
CSS Concept Used: Relative Units, CSS Display, CSS Box Model, CSS Flexbox and BEM Concept
*/

@use './partials/global' as *;
@import './variables';

/*Header Section Styles*/
.header-section {
    background-color: $nitro-pink-color;
    @include header-style(flex, 100%, 5rem, auto);
    justify-content: space-between;
}

.header-section__mainNavigation {
    margin: 20px;
}

/*Header Content Styles*/
.header-content {
    background-color: $nitro-pink-color;
    @include header-content(flex,center,wrap,space-evenly);

    &__descriptionWrapper {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    &__title {
        font-size: 3.75em;
        font-weight: 300;
        margin-bottom: 20px;
    }

    &__button {
        @include button-style(180px, 1.3em, 20px);
        background-color: $nitro-blue-color;
        color: $white-color;
    }

    &__button-surrounding {
        @include button-surrounding-style(relative, 180px, 72px, -10px, 80px);
        border: 2px $gradiant-color solid;
    }
    
    &__product {
        height: 280px;
        margin: 20px;
    }
}

/*Header Content Image Styles*/
.header-contentImage {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

/*Header Content Text Styles*/
.p-texts {
    margin-bottom: 20px;
}

/*Product Section Title Styles*/
.h1-h2-titles {
    text-align: center;
    padding: 20px;
    background-color: $light-gray-color;
}

/*Product Section Styles*/
.product-section {
    background-color: $light-gray-color;

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__productItem {
        @include productItem-style(330px, 440px, 20px, 10px);
        box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
        @include flexbox-styles(flex, column, center, center);
    }

    &__ProductText-wrapper {
        background-color: $nitro-pink-color;
        @include flexbox-styles(flex, column, space-evenly, center);
        margin-top: 20px;
        height: 100%;
        width: 100%;
    }

    &__ProductInformation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__productImage {
        height: 70%;
        margin: 10px;
    }

    &__productPack {
        color: $gray-color;
    }

    &__productPrice {
        margin-left: 20px;
        font-size: 1.1em;
        font-weight: bold;
        color: $nitro-blue-color;
    }

    &__viewAllButton-wrapper {
        display: flex;
        justify-content: center;
        align-items: center ;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
        background-color: $light-gray-color;
        position: absolute;
    }

    &__viewAllButton-surrounding-border {
        position: relative;
        width: 180px;
        height: 72px;
        left: 660px;
        top: -10px;
        bottom: 10px;
        border: 2px solid $gradiant-color;
        margin: 20px;
    }

    &__viewAllButton {
        @include button-style(180px, 1.3em, 20px);
        background-color: $nitro-blue-color;
        color: $white-color;
    }
}

/*Discount Section Wrapper*/
.discount-wrapper {
    @include flexbox-styles(flex, column, center, center);
    height: fit-content;
    margin: 20px;

    &__promotionsSection {
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__promotionsTitle {
        font-size: 3.75em;
        font-weight: 300;
        margin: 20px;
    }

    &__promotionsText {
        font-size: 1.1em;
        color: $gradiant-color;
        margin: 20px;
    }

    &__promotionsImage {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        margin: 20px;
    }

    &__promotionsIcons {
        width: 3.5em
    }

    &__promotionsButton-wrapper {
        padding-left: 20px;
    }

    &__promotionsButton {
        @include button-style(180px, 1.3em, 20px);
        background-color: $nitro-blue-color;
        color: $white-color;
    }

    &__surrounding-border {
        position: relative;
        width: 180px;
        height: 72px;
        left: 10px;
        bottom: 80px;
        border: 2px $gradiant-color solid;
    }

    &__promotionsBackgroundImage {
        width: 400px;
        padding: 20px;
        margin: 20px;
        background-image: url(../assets/coldbrewbackground.png);
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__bgsurrounding-border {
        position: relative;
        width: 400px;
        height: 350px;
        left: -390px;
        top: -20px;
        bottom: 50px;
        border: 5px $nitro-blue-color solid;
    }

    &__discountBanner {
        width: 90%;
        height: fit-content;
        background-color: $gradiant-color;
        padding: 20px;
        margin-top: 150px;
        margin-bottom: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__discount-text {
        font-size: 3em;
        color: $white-color;
    }

    &__bolded-text {
        font-weight: bold;
    }
}

/*Footer Section Styles*/
.footer-section {
    background-color: $nitro-pink-color;
    margin-top: 20px;
    background-image: linear-gradient(rgba(255, 240, 237, 0.9), rgba(255, 240, 237, 0.9)), url("../assets/coffee-beans-logo-and-footer.svg");
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: 5%;
    background-position-x: -3%;

    &__footer-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        margin-left: 10px;
    }

    &__footer-card {
        width: 250px;
        margin: 20px;
    }

    &__footer-header {
        font-size: 2em;
        font-weight: 300;
        margin: 20px;
    }

    &__bolded-text {
        font-weight: bold;
    }

    &__icons {
        width: 3.5em;
    }
}