/*
Project Name: Coffee Shop - Sprint 1
Name: Anurag Bhattacharya
Description: This is the Landing Page Style Sheet - All Styles are applied uniquely to the Landing Page
CSS Concept Used: Relative Units, CSS Display, CSS Box Model, CSS Flexbox
*/

@import '../variables';
@import '../mixins';

/*Whole Body Section Styles*/
* {
    font-family: $main-font-family;
    @include main-font-style(400,0px,0px);
}

/*Header Styles*/
header {
    background-color: $nitro-pink-color;
    @include header-style(inline-block, 100%, 5rem, auto);
}

/*Main Logo Styles*/
.main-logo {
    @include main-logo-style(50px, middle);
}

/*Global Heading 1 and Heading 2 Styles*/
.h1-h2-titles {
    @include h1-h2-titles-style(3.75em, 300);
}

/*Global Heading 3 Styles*/
.h3-titles {
    @include header3-styles(2em, 300);
}

/*Main Navigation Styles*/
.main-navigation {
    @include main-navigation-style(inline-block, 20px);
}

/*Global Navigation Heading Styles*/
.nav-heading {
    @include nav-heading-style(2em, 300, inline-block);
}

/*Global Navigation Links Styles*/
.nav-links {
    @include nav-links-style(1.3em, none, inline-block);
    a {
        text-decoration: none;
        color: $gradiant-color;
        padding: 20px;
    }
}

/*Global Paragraph Text Styles*/
.p-texts {
    @include p-style(1.1em, block, auto);
    color: $gradiant-color;
}

/*Special Main Navigation Heading Styles*/
.shop-now a {
    color: $nitro-blue-color;
}

/*Global Nitro Pink Sections Backgrounds Styles*/
.nitro-pink-backgrounds {
    background-color: $nitro-pink-color;
}